.cartboard{
  margin-top: 65px;
  position: absolute;
}
.cart-card-image {
  width: 140px;
  height: 100px;
  /*display:block;
  margin-left:auto;
  margin-right: auto;*/
}
.toolbarcart{
  margin-top: 0px;
  /*position: fixed;*/
    position: relative;
}
table {
    border-collapse: collapse;
    margin-left: 50px;
}

td,th {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#ffe6e6;}
.cart{
  width: 100px;
}
