.mobilecard
{
  width: 100%;
  height: 95%;
  cursor: pointer;

}
.mobilecard:hover
{
  opacity: 0.65;
}
.dashboard{
  margin-top: 65px;
  margin-left: 100px;
}
.md-card-image {
  width: 250px;
  height: 220px;
  display:block;
  margin-left:auto;
  margin-right: auto;
}

.details{
  margin-left:10px;
}
.popup-image{
  width: 350px;
  height: 220px;
  display:block;
  margin-left:auto;
  margin-right: auto;
}

.rating{
  margin-left: 850px;
}
