<div class="toolbarcart">
  <md-toolbar class="md-hue-2" style="position: fixed;">
    <div class="md-toolbar-tools">
      <h2 flex md-truncate>CART</h2>
      <md-button ng-click="shopping()" class="md-primary md-raised">
        Continue Shopping
      </md-button>
    </div>
  </md-toolbar>
</div>
<div class="cartboard">
  <!-- <h2 id="demo1"></h2> -->
  <table>
    <tr>
      <th>product</th>
      <th>Storage</th>
      <th>os</th>
      <th>camera</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>REMOVE</th>
    </tr>
    <tr ng-repeat="data in cartobject">
      <td>
        <div>
          <md-card class="cart">
            <img ng-src={{data.image.small}} class="cart-card-image" alt="Washed Out">
          </md-card>
        </div>
      </td>
      <td> {{data.specs.storage}} </td>
      <td> {{data.specs.os}}</td>
      <td> {{data.specs.camera}}</td>
      <td> {{data.price}}</td>
      <td><select ng-model="selectedQuantity" ng-init="selectedQuantity=1" ng-options="item for item in numbers" ng-change="quantity(selectedQuantity,data)">
</select></td>
      <td>
        <md-button ng-click="remove(data)" class="md-primary md-raised">
          REMOVE
        </md-button>
      </td>
    </tr>
    <td> TOTAL PAYMENT : $ {{total}}</td>
  </table>

</div>
