
<div   class="mobilecard"   layout="row" layout-padding layout-wrap>
<div ng-repeat="data in myData"  flex-gt-xs="30" flex-xs layout="row">
      <md-card   ><br><br><br>
        <img ng-src={{data.image.small}} class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{data.name}}</span>
          </md-card-title-text>
        </md-card-title>

        <h><strong>Price : </strong> $ {{data.price}}</h>
        <h><strong>Storage : </strong>{{data.specs.storage}} GB</h>
        <h><strong>os : </strong>{{data.specs.os}}</h>
        <h><strong>camera : </strong>{{data.specs.camera}} MP</h>

        <md-card-actions layout="row" layout-align="start center">
          <md-button ng-click="showAdvanced($state,data)" class="md-primary md-raised"  >
      Description
    </md-button>
        </md-card-actions>
      </md-card>
</div>

</div>
