<div layout="row" layout-align="center">
  <md-card style="width:25%" layout="row" flex-md=40 flex-sm=60 flex-xs=80>
    <form name="Form">
      <md-card-content>
        <h2> Please Login</h2>
        <md-input-container>
          <label>Email</label>
          <input name="mail" type="email" ng-model="user.email" ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required/>
          <div ng-messages="Form.mail.$error">
            <div ng-message="required">Your email is required.</div>
            <div ng-message="pattern">invalid email</div>
          </div>
        </md-input-container><br>
      </md-card-content>
      <md-card-content>
        <md-input-container>
          <label>password</label>
          <input ng-model="user.password" name="pswd" type="password" required/>
          <div ng-messages="Form.pswd.$error">
            <div ng-message="required">Your password is required.</div>
          </div>
        </md-input-container><br>
      </md-card-content>
      <md-card-content>
        <md-card-actions layout-align="center" layout="row">
          <md-button ng-click="submit()" class="md-raised md-primary">login</md-button>
        </md-card-actions>
      </md-card-content>
    </form>
  </md-card>
</div>
