<md-dialog >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{item.specs.manufacturer}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="css/if_Delete_1493279.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <img class="popup-image"style="margin: auto; max-width: 100%;" alt="not available" src="{{item.image.large}}">
      <jk-rating-stars max-rating="5" rating="item.rating" read-only="item.readOnly"  >
    </jk-rating-stars>
        <p>
        <strong>DESCRIPTION : </strong>{{item.description}}
        </p>
      </div>
    </md-dialog-content>
</md-dialog>
