<div >
  <section layout="row">
    <md-sidenav class="md-sidenav-left" style="margin-top:63px" md-component-id="left" md-disable-backdrop>
      <md-toolbar class="md-theme-indigo" layout="row">
        <h1 class="md-toolbar-tools">Menu</h1>
      </md-toolbar>
      <div>
        <fieldset class="standard">
          <h3> Brand</h3>
          <ul>
            <li ng-repeat="data in myData | deleteDuplicate: 'manufacturer'">
              <md-checkbox ng-click="toggle(data, manufacturerArray)"> {{ data }}</md-checkbox>
            </li>
          </ul>
        </fieldset>
        <fieldset>
          <h3> OS</h3>
          <ul>
            <li ng-repeat="data in myData | deleteDuplicate: 'os'">
              <md-checkbox ng-click="toggle(data, osArray)">{{ data }}</md-checkbox>
            </li>
          </ul>
        </fieldset>
        <fieldset>
          <h3> Camera</h3>
          <ul>
            <li ng-repeat="data in myData | deleteDuplicate: 'camera'">
              <md-checkbox ng-click="toggle(data, cameraArray)"> {{ data }}</md-checkbox>
            </li>
          </ul>
        </fieldset>
        <fieldset>
          <h3> Storage</h3>
          <ul>
            <li ng-repeat="data in myData | deleteDuplicate: 'storage'">
              <md-checkbox ng-click="toggle(data, storageArray)"> {{ data }}</md-checkbox>
            </li>
          </ul>
        </fieldset>
      </div>
    </md-sidenav>
  </section>

</div>
