<div>
  <md-toolbar class="md-hue-2" style="position: fixed;">
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleLeft()" class="md-icon-button md-primary md-raised">
        <md-icon md-svg-icon="assets/icons8-menu.svg"></md-icon>
      </md-button>
      <h2 flex md-truncate>Mobile Shopping</h2>
      <md-button ng-click="cart()" class=" md-primary md-raised">
        <md-icon md-svg-icon="assets/iconmonstr-shopping-cart-3.svg"></md-icon>{{count}}
      </md-button>
      <md-button ng-click="toggleright()" class="md-primary md-raised">
        Logout
      </md-button>
    </div>
  </md-toolbar>
</div>
